.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: gray;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger:hover span{
  background: var(--hoverColor);
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}


.li_hover{
  @apply p-1 hover:text-hoverColor transition-all duration-500 before:block before:absolute before:inset-1  before:bg-hoverColor before:scale-x-0 hover:before:scale-x-100 before:duration-500 before:h-[1px] before:rounded-3xl before:top-full relative inline-block
}

/* From Uiverse.io by JaydipPrajapati1910 */ 
.button {
  @apply relative hidden text-lg s_sm:block bg-transparent border-hoverColor border-2 rounded-full py-3 px-5 s_wide:py-3 s_wide:px-5  ;

  align-items: center;
  cursor: pointer;
  border: 2px solid var(--hoverColor);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}


.button::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.button:hover {
  border: 2px solid var(--hoverColor);
}

.button:hover::before {
  box-shadow: inset 0 0 0 10em var(--hoverColor);
}